#menu{
    ul{
        list-style-type: none;
        display: flex;
        padding-left: 0;
        flex-wrap: wrap;

        a{
            color: $col-rouge;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid #C4C4C4;
            border-radius: 20px;
            padding: 5px 12px;
            text-decoration: none;
            display: block;
        }
    }
}